.main-wrapper {
  background-color: var(--bluegradient);
  box-sizing: border-box;
  height: 100%;

  background: linear-gradient(
      196deg,
      rgba(20, 54, 224, 0.2) 0%,
      rgba(255, 255, 255, 0.2) 25%
    ),
    linear-gradient(
      0deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 1) 100%
  );
}

.content {
  box-sizing: border-box;
  height: 100%;
  padding-left: 6%;
  padding-right: 6%;
  padding-top: 2%;
}

.sidebar-image {
  align-items: center;
  display: flex;
  justify-content: center;
}

.it-work {
  height: auto;
  max-width: 100%;
}

@media screen and (max-width: 767px) {
  .content {
    padding-top: 24px;
  }

  .sidebar-image {
    display: none;
  }
}

.secondary-text {
  color: #666666;
  font-size: 16px;
}

.sidebar-image {
  width: 50%;
}