.main-wrapper {
  box-sizing: border-box;
  background-color: #F5F5F5;
  padding-bottom: 20px;
  min-height: 100vh;
}

.content {
  box-sizing: border-box;
  height: 100%;
  padding-left: 6%;
  padding-right: 6%;
  padding-top: 2%;
}

.sidebar-image {
  align-items: center;
  display: flex;
  justify-content: center;
}

.it-work {
  height: auto;
  max-width: 100%;
}

@media screen and (max-width: 767px) {
  .content {
    padding-top: 24px;
  }

  .sidebar-image {
    display: none;
  }
}

.secondary-text {
  color: #666666;
  font-size: 16px;
}

.sidebar-image {
  width: 50%;
}