.main-page__header {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    margin-bottom: 20px;
}
  
.main-page__logo {
    height: auto;
    width: 36px;
}
  
.main-page__title {
    color: #1436e0;
    font-size: 24px;
    text-transform: uppercase;
}
  
.main-page__nav {
    display: flex;
    flex-wrap: wrap;
    font-size: 14px;
    gap: 20px;
}
  
.main-page__username {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 16px;
    margin-bottom: auto;
    margin-top: auto;
}
  
.main-page__cards {
    display: flex;
    gap: 20px;
    grid-template-columns: 1fr;
}
  
@media screen and (min-width: 1024px) {
    .main-page__cards {
      grid-template-columns: 1fr 1fr;
    }
}

.main-page__bottom-nav {
    background-color: #fff;
    border-top: 1px solid #eee;
    bottom: 0;
    box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.05);
    display: flex;
    font-size: 12px;
    justify-content: space-around;
    left: 0;
    padding: 12px 0;
    position: fixed;
    right: 0;
}
  
.main-page__bottom-nav .active {
    color: #1436e0;
    font-weight: bold;
}
 
.user {
    align-items: center;
    display: flex;
    gap: 8px; 
    margin-bottom: 1em;
}
  
.main-page__username {
    font-weight: bold;
    line-height: 1; 
}
  
.arrow-more {
    height: 1em;
    width: auto; 
}
  
.user {
    cursor: pointer;
}