.info-blocks {
    align-items:center;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.profile-page {
    padding: 20px;
}

.profile-info {
    flex: 1 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 64px;
}

.profile-info > div {
    padding: 20px;
}